{% extends "base.html" %}

{% block title %}Resources - Addiction Support{% endblock %}

{% block content %}
<h2>Helpful Resources for Addiction Recovery</h2>
<p>Here are some useful links and resources to help with recovery and support:</p>

<ul>
    <li><a href="https://www.samhsa.gov/find-help/national-helpline" target="_blank">SAMHSA National Helpline (US)</a></li>
    <li><a href="https://www.aa.org/" target="_blank">Alcoholics Anonymous (AA)</a></li>
    <li><a href="https://www.na.org/" target="_blank">Narcotics Anonymous (NA)</a></li>
    <li><a href="https://www.drugabuse.gov/" target="_blank">National Institute on Drug Abuse (NIDA)</a></li>
    <li><a href="https://www.mentalhealth.gov/get-help" target="_blank">Mental Health Support</a></li>
</ul>

<p>Remember: Seeking help is a sign of strength. You are not alone.</p>
{% endblock %}
